.marchand-connect-container {
	.upload-pic {
		.icon {
			display: flex;
			justify-content: flex-start;
			cursor: pointer;
			width: 50%;
			height: 100%;

			.upload-picture {
				position: relative;
				margin-left: 5px;
				width: 100%;

				img {
					left: 5px;

					@media screen and(max-width:374px) {
						height: 30px;
						width: 30px;
						top: 12px;
						left: 8px;
					}
				}
				input {
					width: 25px;
					height: 25px;
					position: absolute;
					transform: translate(-35px, 12px);
					@media screen and(max-width:374px) {
						height: 30px;
						width: 30px;
					}

					opacity: 0;
					cursor: pointer;
					&::-webkit-file-upload-button {
						cursor: pointer;
					}
				}
			}
		}
	}
	.banniere-view {
		img {
			height: 20%;
			width: 30%;
		}
		.btn-ban {
			background: $bg-btn;
			&:hover {
				background: $bg-btn-hv;
			}
			border: 1px solid $bg-btn;
			color: white;
			border-radius: 3px;
			margin-left: 10px;
		}
	}

	button#main1,
	button#main2,
	button#main3 {
		margin-left: 230px !important;
	}
	nav#sidenavAccordion {
		width: 360px;

		@media screen and(max-width:993px) {
			width: 100%;
		}
		nav.sb-sidenav-menu-nested.nav {
			margin-left: 5px !important;
			margin-right: 5px !important;
		}
	}
}
