.product-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30% 70%;
	grid-template-areas:
		'p c'
		'g g';
	.product-view {
		grid-area: p;
		background: black;
	}
	.callToAction {
		grid-area: c;
		background: palegoldenrod;
	}
	.grid {
		grid-area: g;
		background: greenyellow;
	}
}
