.marchand-connect-container {
	#layoutSidenav {
		height: 100vh;
	}
	.sb-sidenav-menu {
	}
	.navbar {
		background: #212529 !important;
		.nav-item {
			color: #89928e !important;
		}
	}
	.container-fluid {
		margin-top: 70px;
	}
	.navbar-product {
		background: white !important;
		a {
			//color: white;
		}
	}
	.layoutSidenav_content {
		width: 100vh;
	}
}
